@media screen and (min-width:800px){
.contact1{
  flex-direction:row;
  flex-wrap:nowrap;
}
.divider{
    margin-bottom:0;
    width:45%;
    height:100vh;
    display:flex;
    flex-direction:column;


}
.divider h3{
margin-top:50%;
font-size:3rem;
}
.contactf{
  width:50%;
  margin-top: 100px ;
}


.close{

  color:#1fd3c6;
  font-size:3rem;
  position:absolute;
  right:50px;
  top:35px;
}

.photo_grid{
  display:flex;
  max-width:70%;
  flex-direction:row;
  margin:0 auto;
  flex-wrap:wrap;

}
.img_holder {
margin-bottom:.2rem;
perspective:1000px;
transition:all ease 2s;
flex:33%;
perspective:1000px;
transition:all ease-in .8s;
}
.img_holder:last-of-type{
  margin-bottom:0px;
}
.img_holder:hover>img{
  filter:drop-shadow(16px -16px 10px rgba(0,0,0,0.9)) grayscale(80%);
  -webkit-filter:drop-shadow(16px 16px 10px rgba(0,0,0,0.9)) grayscale(80%);

}
#welcome_text {
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 auto;
  max-width:80%;
}

#welcome_text h1{
  font-size:3vw;
  line-height:2em;
  vertical-align:middle;
  color:#1fd3c6;

}
#forms{
  margin-top:2em;
  margin-bottom:2em;
}

}
